{% extends 'main/base.html' %}

{% block title %}Все новости{% endblock %}

{% block content %}
    <div class="features">
        <h1>Все новости</h1>
        {% if news %} 
            {% for el in news %}
                <div class="alert alert-warning">
                    <h1>{{ el.title }}</h1>
                    <p>{{el.anons}}</p>
                    <a href="{% url 'article' el.id %}"><button class="btn btn-warning">Читать новость</button></a>
                </div>
            {% endfor %}
        {% else %}
            <p>Новостей нет!</p>
        {% endif %} 
{% endblock %}